@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
h1 {
  font-family: "PT Sans Narrow", sans-serif;
  color: #2d3436;
  font-size: 2.85em;
  text-align: center;
}
h2 {
  font-family: "PT Sans Narrow", sans-serif;
  color: #2d3436;
  font-size: 1.85em;
  text-align: center;
}
h3 {
  font-family: "PT Sans Narrow", sans-serif;
  color: #2d3436;
  font-size: 1.35em;
  text-align: center;
}
h4 {
  font-family: "PT Sans Narrow", sans-serif;
  color: #2d3436;
  font-size: 1em;
  text-align: center;
}
.description {
  font-family: "Montserrat", sans-serif;
  width: 750px;
  text-align: center;
  color: #2d3436;
  font-size: 1.25em;
}
i {
  font-size: 3em;
  margin: 0px 10px;
  color: #2d3436;
}
i:hover {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
progress {
  border-radius: 2px;
  border: 0px;
  background-color: #dfe6e9;
}
progress::-webkit-progress-bar {
  border-radius: 2px;
  background-color: #dfe6e9;
}
progress::-webkit-progress-value {
  border-radius: 2px;
  background-color: #55efc4;
}
progress::-moz-progress-bar {
  /* style rules */
  border-radius: 2px;
  background-color: #55efc4;
}
@media (max-width: 600px) {
  h1 {
    display: flex;
    align-self: center;
    width: 350px;
    font-size: 2.5em;
  }
  h2 {
    width: 350px;
  }
  .description {
    align-self: center;
    width: 375px;
  }
}
@media (max-width: 390px) {
  h1 {
    display: flex;
    align-self: center;
    width: 300px;
    font-size: 2.5em;
  }
  h2 {
    width: 300px;
  }
  .description {
    align-self: center;
    width: 300px;
  }
}

.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}
